@model WebApplication6.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">GameCart</h5>
                    <span class="text-muted">Live , Play ,Enjoy !</span>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              
            </nav>
        </div>
        <h1 style="color:gray;">Login</h1>
   
    <section class="jumbotron container-fluid float-right" style="background-color:white!important; ">
        <div id="login-id">
         @using (Html.BeginForm("Authorise", "Login", FormMethod.Post))
         {
  

            
            <div class="container-fluid well">
                    <br />
                    <br />
                    <br />
                    <br />
                
                <label for="Username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="Username" required>
                     <br />
                     <br />
                <label for="Password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="Password" required>
                    <br />
                    <br />
                    <br />
                    <br />

            </div>
                    <div class="container">
                        <button type="submit" class="btn-success btn-lg" value="Login">Submit</button>
                        <button type="reset" class="cancelbtn btn-secondary btn-lg" value="Clear">Cancel</button>
                    </div>
                   
                    <label style="color:red;">@Html.DisplayFor(Model=>Model.LoginErrorMsg)</label>
                   
        }
        </div>
        </section>
</body>
</html>
