
@{
    Layout = null;
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html style="height:100%;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Index</title>

</head>
<body style="position:relative; min-height:100%;">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">GameCart</h5>
                <span class="text-muted">Live , Play ,Enjoy !</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="@Url.Action("Logout", "Login")"><button type="button" class="btn btn-outline-success" style="float:right;">Logout</button></a>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 ">
                <br />
                <br />

                <ul><h4><a href="@Url.Action("ProductList", "Home")">Product List</a></h4></ul>
                <br />

                <ul><h4><a href="@Url.Action("AddProduct", "Home")">Add Product</a></h4></ul>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="container">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-8">
                
               


                <div class="container">
                    <h1 style="color:lightgreen">Product List</h1>
                    <hr />

                    <h2>PUBG</h2>

                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="/1.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Action</h4>
                            <h4>4$</h4>
                            <p class="card-text">Pubg is one of the most played game in the world. It is a multiplayer Game</p>

                        </div>
                    </div>
                    <br />

                    <h2>Call of Duty</h2>

                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/Views/images/App_LocalResources/3.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Action</h4>
                            <h4>8$</h4>
                            <p class="card-text">
                                COD or Call of duty is second and oldest game being played in the world.
                                It is a multiplayer online game.
                            </p>

                        </div>
                    </div>
                    <br />
                    <h2>Ludo</h2>

                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="~/Views/images/App_LocalResources/2.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Arcade</h4>
                            <h4>2$</h4>
                            <p class="card-text">
                                Ludo is the Arcade game designed for 4 people .  It comes with a very good UI and user experience
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
    <footer style="margin-top:200px;position:fixed;">
        <div class="container">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            </div>
    </footer>
</body>
</html>